.header{
  position: fixed;
  z-index: 10;
  width: 100%;
}

.navbar{
  background-color: rgba(34,35,38,.5);
  font-family: Montserrat, sans-serif;
}

.logo-spotify{
  width: 120px;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: #1db954;
}

#text-carousel {
  border: 1px solid green;
  width: 100%;
  height: auto;
  padding: 50px;
  background: url(//images/assets/fondospotify.jpg);
  background-color: red;
}

.text-slider{
  border: 1px solid blue;
  color: white;
}

#botones{
  color: #FFFFFF;
	display: flex;
  justify-content: center;
}

.botonDown{
  border: 2px solid #1db954;
  border-radius: 20px;
  background-color: #1db954;
}

.botonSusc{
  border: 2px solid white;
  border-radius: 20px;
}

.features{
  width: 100%;
}

#whats-new{
  border: 1px solid red;
}

#features{
  background-image: url(fondospotify.jpg);
}

#devices{
  background-color: white;
}

#cost{
  background-color: red;
}

.cost-cards{
  width: 40%;
  display: flex;
}
.footer{
  border: 1px solid red;
}
